.form-content {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #444;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #666;
}

.form-input {
    width: calc(100% - 2rem);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #007BFF;
    outline: none;
}

textarea.form-input {
    resize: vertical;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para dispositivos maiores */
@media (min-width: 768px) {
    .form-content {
        padding: 30px;
    }

    h1 {
        font-size: 28px;
    }

    .form-group label {
        font-size: 16px;
    }

    .form-input {
        font-size: 18px;
    }

    .btn {
        font-size: 18px;
    }
}